* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --primary: #011e37;
}
body {
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #011e37df;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding: 10px 5%;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-icon {
  width: 40px;
  height: auto;
}
.logo > h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #4ecdc4;
  margin-left: 10px;
}
.logo > h3::after {
  content: "AR";
  font-family: pixel;
  color: gold;
  font-weight: 700;
  font-size: 1.8rem;
}
ul {
  list-style: none;
  display: flex;
  height: 63px;
  justify-content: end;
  align-items: center;
}
nav > ul > li > a {
  color: #f9fafb;
  text-decoration: none;
  padding: 15px;
  font-weight: 700;
  font-size: 18px;
}
/* Content */
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.5% 5%;
  text-align: center;
  background-color: #011e37;
  color: #f9fafb;
}

main > h2 {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: inline-block;
}
.word{
  width: max-content;
  background: radial-gradient(circle, #4ecdc4, #4ecdc56e , transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
}
article {
  display: flex;
  align-items: center;
  gap: 2em;
  justify-content: space-around;
  padding: 2em;
}

article > p{
  background: #f9fafb;
  padding: .5em;
  color: #011e37;
  font-weight: bold;
  border-radius: 1em;
  justify-content: center;
  width: 50%;
  align-items: center;
}

article > img {
  width: 25%;
  border-radius: .5em;
  align-items: center;
  animation: float 4s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.artikel-img img {
  width: 500px;
  height: 500px;
}
